/*mi estilo para trabajo 1*/
header {
    
    padding: 10px;
    margin-top: 0vw;
    background-color: cornflowerblue;
}

h1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    padding: 10px;
}
h2 {
    font-family: 'Monserrat',sans-serif;
    font-size: 1.5em;
    margin: 10px 40px 5px;
    color: dimgray;
}
h4 {
    font-family: 'Monserrat',sans-serif;
    font-size: large;
    margin-left: 40px;
    color: dimgray;
}
table {
    font-family: 'Roboto',sans-serif;
    color: grey;
    margin-left: 50px;
}

ul {
    margin-left: 40px;
    font-family: 'Roboto',sans-serif;
    color: grey;
}

p {
    text-indent: 1cm;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-left: 25px;
    margin-right: 30px;
    text-align: justify;
    color: dimgrey;
}

a {
    font-family: 'Roboto', sans-serif;
    background-color: cornsilk;
    color: darkslateblue;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}
.proyecto {
    display: inline-block;
    background-color:cornflowerblue;
    color: floralwhite;
   margin-left: 40px;
   margin-bottom: 40px;
}
img {
    float: left;
    height: 300px;
}
.imgproyecto {
    display: inline-block;
    height: 400px;
    margin-left: 500px;
    float:none;
}

footer {
    display:block;
    padding-left: 40px;
    padding-top: 10px;
    background-color: cornflowerblue;
}

footer a {

    padding: 0;
    background-color: cornflowerblue;
}
footer img {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-right: 5px;
}
.derechos {
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: 1em;
}

form {
    display: block;
    
    margin: 20px;
}
label {
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: dimgray;
}
input {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: dimgray;
}
[type="submit"] {
    display: block;
margin-left: 60%;
padding: 5px 20px;
font-family: 'Monserrat', sans-serif;
font-size: larger;
background-color: dodgerblue;
color: floralwhite;
}
form h2 {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
form p {
    margin-top: 5px;
    margin-left: 60px;
}
.advertencia {
    font-size: small;
}
div {
    display: block;
    margin: 10px 50px;
}